{% extends 'base.html' %}

{% block content %}
<div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5">Design Hub Check-in System</h4>
</div>

<div class="br-pagebody mg-t-5 pd-x-30">

    <div class="row row-sm mg-t-20">
        <div class="col-12">
            <div class="card pd-0 bd-0 shadow-base">
                <div class="pd-x-30 pd-t-30 pd-b-15">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="tx-13 tx-uppercase tx-inverse tx-semibold tx-spacing-1">{{ text_title }}</h6>
                        </div>
                    </div>
                </div>
                <div class="pd-x-15 pd-b-15">

                    <form action="{{ action }}" method="post" enctype="multipart/form-data" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% if errors.error_first_name %}<p class="text-danger">{{ errors.error_first_name }}</p>{% endif %}
                            <label for="first_name">First Name (<span class="text-danger">*</span>)</label>
                            <input id="first_name" name="first_name" type="text" value="{{ first_name }}" class="form-control" required />
                        </div>

                        <div class="form-group">
                            {% if errors.error_last_name %}<p class="text-danger">{{ errors.error_last_name }}</p>{% endif %}
                            <label for="last_name">Last Name (<span class="text-danger">*</span>)</label>
                            <input id="last_name" name="last_name" type="text" value="{{ last_name }}" class="form-control" required />
                        </div>

                        <div class="form-group">
                            {% if errors.error_tel_number %}<p class="text-danger">{{ errors.error_tel_number }}</p>{% endif %}
                            <label for="tel_number">Telephone Number (<span class="text-danger">*</span>)</label>
                            <input id="tel_number" name="tel_number" type="text" value="{{ tel_number }}" class="form-control"
                                required />
                        </div>

                        <div class="form-group">
                            {% if errors.error_id_number %}<p class="text-danger">{{ errors.error_id_number }}</p>{% endif %}
                            <label for="id_number">ID Number</label>
                            <input id="id_number" name="id_number" type="text" value="{{ id_number }}" class="form-control"
                                required />
                        </div>

                        <div class="form-group">
                            {% if errors.error_company %}<p class="text-danger">{{ errors.error_company }}</p>{% endif %}
                            <label for="company">Company (<span class="text-danger">*</span>)</label>
                            <input id="company" name="company" type="text" value="{{ company }}" class="form-control"
                                required />
                        </div>

                        <div class="form-group">
                            {% if errors.error_reading %}<p class="text-danger">{{ errors.error_reading }}</p>{% endif %}
                            <label for="reading">Reading (<span class="text-danger">*</span>)</label>
                            <input id="reading" name="reading" type="number" value="{{ reading }}" class="form-control"
                                required />
                        </div>

                        <div class="form-group">
                            {% if errors.error_date %}<p class="text-danger">{{ errors.error_date }}</p>{% endif %}
                            <label for="date">Date (<span class="text-danger">*</span>)</label>
                            <input id="date" name="date" type="datetime-local" value="{{ date }}" class="form-control"
                                required />
                        </div>

                        <button type="submit" class="btn btn-teal">{{ text_button }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}