{% extends 'base.html' %}

{% block content %}
<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="/">Home</a>
        <span class="breadcrumb-item active">Entrants</span>
    </nav>
</div><!-- br-pageheader -->
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Entrants</h4>
</div>



<div class="br-pagebody">
    <div class="row row-sm mg-t-20">
        <div class="col-12">
            <div class="card pd-0 bd-0 shadow-base">
                <div class="pd-x-30 pd-t-30 pd-b-15">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="tx-13 tx-uppercase tx-inverse tx-semibold tx-spacing-1">Entrants</h6>
                        </div>
                        <div class="tx-13">
                            <a class="btn btn-primary text-white" href="/entrants/add">Add Entrant</a>
                        </div>
                    </div>
                </div>
                <div class="pd-x-15 pd-b-15">
                    
                        <table class="table table-striped" id="datatable1">
                            <thead style="background-color:#CCC;">
                                <th>No</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Tel</th>
                                <th>Company</th>
                                <th>ID No</th>
                                <th>Date</th>
                                <th>Temp</th>
                                <th>#</th>
                            </thead>
                            <tbody>
                                {% for item in entrants %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ item.first_name }}</td>
                                        <td>{{ item.last_name }}</td>
                                        <td>{{ item.tel_number }}</td>
                                        <td>{{ item.company }}</td>
                                        <td>{{ item.id_number }}</td>
                                        <td>{{ item.last_entry.timestamp }}</td>
                                        <td>{{ item.last_entry.reading }}</td>
                                        <td>
                                            <a href="/entrants/{{item.id}}/add_entry" class="btn btn-sm btn-outline-dark">Add Entry</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    
                </div>
            </div><!-- card -->

        </div><!-- col-9 -->
    </div>
</div>
{% endblock %}